.campo{
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
}

.campo label{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    display: block;
    margin-bottom: 0.4rem;
}

.campo input{
    display: flex;
    align-items: center;
    color: var(--gris-claro);
    width: 100%;
    /* background-color: #ffffff; */
    box-shadow: 10 px 10px 30px rgba(0,0,0,0.06);
    border: 1px solid #3b3a3a !important;
    border-radius: 0.5rem;
    background-color: transparent;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    min-height: 3.8rem;

    /* padding: 30px 20px; */
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    box-sizing: border-box;
    resize: none;
}

.campo input{
    height: 40px;
    padding: 5px 20px;
}