.botones{
    width: 100%;
    margin: 1em;
    text-align: center;
}

.boton_formulario{
    max-width: 11rem;
    max-height: 3rem;
    width: 100%;
    /*background: #aca5ce;*/
    background: var(--negro);
    /* width: 20%; */
    margin-bottom: 1rem;
    padding: 1rem 1.25rem;
    border-style: none;
    /* box-shadow: -.2em -.2em .4em black; */
    border-radius: 10px;
    font-size: 1.2rem;
    /* color: #a945c7; */
    /* height: 2rem; */
}

.boton:hover{
    background: #1a0231;
    box-shadow: 0 0 10px #b36cc9, 0 0 40px #b36cc9, 0 0 80px #b36cc9;
    color: white;
    transition: .5s;
}