.pie {
    height: 100%;
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem 2.5rem;
    border-top: 4px solid var(--azul);
    box-sizing: border-box;
    box-shadow: 0 -10px 15px 0 var(--sombra-boton);
}

.pie h2 {
    color: var(--blanco);
    font-size: 20px;
}

h2 img {
    width: 50px;
}