.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text_error {
    width: 100%;
    margin: 0 auto;
    height: 2em;
    font-size: 2em;
    color: var(--blanco-humo);
  }
  .error {
    margin: 0 auto;
    font-size: 12em;
    color: red;
  }